html {
    font-family: Verdana;
}



.archivePostContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 78.35%;
    top: 20%;
    transform: translateX(-78.35%);
}

.archivePost {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 8em minmax(300px, 30vw) 1px minmax(200px, 20vw) auto 8em;
    grid-template-rows: 4em 1fr 2em;
    width: 80vw;
}

.archivePostTitle {
    align-self: center;
    justify-self: center;
    grid-row: 1/2;
    grid-column: 1/3;
    font-size: 2em;
    color: rgb(39,47,50);
    width: 100%;
    text-align: center;
}

.archivePostAuthor {
    grid-row: 1/2;
    grid-column: 4/5;
    color: rgb(39,47,50);
}

.archivePostContent {
    grid-row: 2/3;
    grid-column: 2/6;
}

.archivePostDate {
    grid-row: 3/4;
    grid-column: 6/7;
    text-align: center;
}

.archivePostTopLeft {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: rgb(157,189,198);
    z-index: -10;
}

.archivePostTopCenter {
    grid-row: 1/2;
    grid-column: 3/5;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
    background-color: rgb(157,189,198);
    z-index: -10;
}

.archivePostBottomRight {
    grid-row: 3/4;
    grid-column: 6/7;
    background-color: rgb(255,61,46);
    z-index: -10;
}



.sidebar {
    width: 15vw;
    height: 100vh;
    display: flex;
    position: fixed;
    background-color: rgb(218,234,239);
    
    &_content {
        width: 15vw;
        text-align: center;
        position: relative;
        top: 10%;
        font-size: 1.5em;
    }
}

.dropDown {
    font-size: 80%;
    
    &_link {
        &:link {
            color: black;
        }
        &:visited {
            color: black;
        }
        &:hover {
            animation: hover 0.25s;
            animation-fill-mode: forwards;
            text-decoration: none;
        }
    }
}

.hidden {
    display: none;
}

@keyframes hover {
    0% {
        color: black;
    }
    100% {
        color: rgb(255,61,46);
    }
}